.container {
  width: 100%;
  height: 100%;
  text-align: center;
}

body {
  background-color: aqua;
}

h1 {
  margin-top: 200px;
  font: size 500px;
  font-weight: 900;
}

p {
  font: size 300px;
}
